{% extends "base.html" %}

{% block extrahead %}
  <meta name="keywords" content="群晖,Synology,DSM 7.x,NAS,Docker,Container Manager,HomeLab,私有云,影视刮削,Jellyfin,Plex,Emby,Home Assistant,软路由,OpenWrt,数据备份,内网穿透,DDNS,反向代理,Vaultwarden,Bitwarden,Alist,青龙面板,WebDAV,黑群晖,洗白,引导,套件中心,社群源,Portainer,Watchtower,Macvlan,IPV6">
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="baidu-site-verification" content="code-placeholder" />
{% endblock %}
